:root {
	--color-primary: #777777;
	--color-primary-title: #121212;
	--color-secondary: #2b427e;
}

* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	box-sizing: border-box;
}

body {
	font-family: 'Manrope', sans-serif;
}
